@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    padding: 0px;
    margin: 0px;
		font-family: 'Muli', sans-serif;
}

body {
	background: #F1F4F4;
	height: 100%;
	width: 100%;
}

#mainContent {
	position: absolute;
	min-height: 100%;
}

.fullScreen {
	width: 100%;
	min-height: 100% !important;
	float: left;
}

.fullScreen:nth-child(1) {
	height: 700px;
}

.fullScreen:nth-child(2) {
	margin-top: -80px;
}

.flexFormSpace {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flexSides {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flexCenterMiddle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.flexCenterMiddleColumns {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#info img {
	height: 170px;
}

#contactOptions {
	margin-top: 20px;
	width: 200px;
}

#contactOptions a img {
	height: 28px;
}

h1 {
	font-weight: 700;
	font-size: 34px;
	color: #202020;
	letter-spacing: 1.9px;
}

h2 {
	font-weight: 700;
	font-size: 22px;
	color: #202020;
	letter-spacing: 1.6px;
}

.one {
	width: 100%;
}

.card {
	min-height: 100px;
	background: white;
	border-radius: 12px;
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,.12);
	margin-bottom: 30px;
	cursor: pointer;
	transition: .2s;
	overflow: hidden;
  background-position: top center !important;
  background-size: cover !important;
}

.verticalCard {
	max-height: 450px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
	max-width: 250px;
}

.flexOne {
	flex-basis: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.flexThree {
	flex-basis: 250px;
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.card h2, .card p {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card p {
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}

.card img {
	max-width: 100%;
	max-height: 100%;
}

.cardInfo, .cardInfoB {
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  padding: 15px;
  background: white;
  box-sizing: border-box;
}

.cardInfo p {
	color: rgb(180,180,180);
  text-transform: uppercase;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
}

.cardInfo h2 {
	color: rgb(50,50,50);
	text-align: left;
  letter-spacing: 1px;
}

.cardInfoB h2, .cardInfoB p {
	color: #202020 !important;
	box-shadow: none;
	text-align: left;
}

#mainContent {
	margin-bottom: 40px;
}

.blackBack {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2);
  position: fixed;
  z-index: 8;
}

#detailView {
  background: white;
  height: auto;
  max-height: 450px;
  width: 80%;
  position: fixed;
  z-index: 9;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
  border-radius: 12px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
}

.unscrollable {
  overflow: hidden;
}

.imageLeft {
  height: calc(100% + 50px);
  min-width: 180px;
  float: left;
  background: lightGray;
  margin-right: 25px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 12px 0 0 12px;
  background-position: center top !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  margin: auto;
  border: none;
  background: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.closeBtn img {
  height: 20px;
}

.projectDetails {
  float: left;
}

.projDetail {
  font-size: 16px;
  color: #202020;
  letter-spacing: 0.8px;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.projectDetails a {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.9px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projectHead {
  width: 100%;
  margin-bottom: 40px;
}

.projectHead h2 {
  width: 100%;
  user-select: none;
}

.projectHead p {
  float: left;
  margin-right: 10px;
  font-size: 11px;
  color: #A2A2A2;
  text-transform: uppercase;
  user-select: none;
}

.tagSpace {
  width: 100%;
  float: left;
  margin-top: 5px;
}

.tag {
  background: rgba(0,0,0,0.05);
  border-radius: 10px;
  float: left;
  font-size: 11px;
  color: #A2A2A2;
  padding: 2px 6px;
  box-sizing: border-box;
  margin-right: 10px;
  user-select: none;
  margin-bottom: 10px;
}

.sketchBtn {
  background: #EA6C00;
}

.githubBtn {
  background: #24292E;
}

.previewBtn {
  background: #007DD4;
}

@media only screen and (min-width: 1024px) {
	#mainContent {
		width: 90%;
		margin-left: 5%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		overflow: auto;
	}

  .verticalCard {
    min-height: 300px;
  }

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,.08);
	}

  #detailView {
    width: 500px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 1124px) {
	#mainContent {
		width: 100%;
    margin: 0;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		overflow: auto;
	}

  .verticalCard {
    min-height: 300px;
  }

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,.08);
	}

  #detailView {
    width: 595px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
	#mainContent {
			width: 100%;
			padding: 15px;
			margin: auto ;
			box-sizing: border-box;
			overflow-x: hidden;
	}

	.fullScreen:nth-child(1) {
		height: 600px;
	}

  .verticalCard {
    min-height: 80px;
    max-width: 350px;
    background-size: 150px !important;
    background-position: -35px -1px !important;
  }

  .cardInfo {
    height: 80px;
    width: calc(100% - 80px);
    margin: auto;
    margin-right: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .cardInfo h2 {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .cardInfo p {
    font-size: 9px;
  }

  .imageLeft {
    display: none;
  }

  #detailView {
    width: 100%;
    bottom: 0;
    top: auto;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -4px 12px 0 rgba(0,0,0,0.15);
    overflow: auto;
    max-height: 500px;
  }
}
