@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    padding: 0px;
    margin: 0px;
		font-family: 'Muli', sans-serif;
}

body {
	background: #F1F4F4;
}

.fullScreen {
	width: 100%;
	min-height: 100%;
	float: left;
}

.fullScreen:nth-child(2) {
	margin-top: -80px;
}

.flexFormSpace {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flexCenterMiddle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.flexCenterMiddleColumns {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#info img {
	height: 170px;
}

#contactOptions {
	margin-top: 20px;
	width: 200px;
}

#contactOptions a img {
	height: 28px;
}

h1 {
	font-weight: 700;
	font-size: 34px;
	color: #202020;
	letter-spacing: 1.9px;
}

h2 {
	font-weight: 700;
	font-size: 26px;
	color: #202020;
	letter-spacing: 1.6px;
}

.one {
	width: 100%;
}

.card {
	min-height: 150px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,.08);
	margin-bottom: 30px;
	cursor: pointer;
	transition: .2s;
}

.verticalCard {
	min-height: 450px !important;
}

.flexOne {
	flex-basis: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.flexThree {
	flex-basis: 250px;
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.card h2 {
	color: #FFFFFF !important;
	text-shadow: 0 0 4px rgba(0,0,0,0.50);
	text-align: center;
}

.card p {
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 3px;
	text-shadow: 0 0 4px rgba(0,0,0,0.50);
	text-align: center;
}

.cardInfo {
	width: calc(100% - 40px);
	bottom: 30px;
	margin: auto;
}

@media only screen and (min-width: 1024px) {
	#mainContent {
		width: 80%;
		margin-left: 10%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		/* padding-top: 10px; */
		overflow: auto;
		/* padding-bottom: 100px; */
	}

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,.08);
	}
}

@media only screen and (max-width: 1124px) {
	#mainContent {
		width: 80%;
		margin-left: 10%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		/* padding-top: 10px; */
		overflow: auto;
		/* padding-bottom: 100px; */
	}

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,.08);
	}
}

@media only screen and (max-width: 500px) {
	#mainContent {
			width: 100%;
			padding: 15px;
			margin: auto ;
			box-sizing: border-box;
			overflow-x: hidden;
	}
}
