@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    padding: 0px;
    margin: 0px;
		font-family: 'Muli', sans-serif;
}

body {
	background: #F1F4F4;
}

.fullScreen {
	width: 100%;
	min-height: 300px;
	height: 100%;
	float: left;
}

.:nth-child(2) {
	margin-top: -80px;
}

.flexFormSpace {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flexSides {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flexCenterMiddle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.flexCenterMiddleColumns {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#info img {
	height: 170px;
}

#contactOptions {
	margin-top: 20px;
	width: 200px;
}

#contactOptions a img {
	height: 28px;
}

h1 {
	font-weight: 700;
	font-size: 34px;
	color: #202020;
	letter-spacing: 1.9px;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	color: #202020;
	letter-spacing: 1.6px;
}

.one {
	width: 100%;
}

.card {
	min-height: 150px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,.08);
	margin-bottom: 30px;
	cursor: pointer;
	transition: .2s;
	overflow: hidden;
}

.verticalCard {
	min-height: 400px !important;
	max-height: 450px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
	max-width: 250px;
}

.flexOne {
	flex-basis: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.flexThree {
	flex-basis: 250px;
	margin-left: 20px;
	margin-right: 20px;
	flex-grow: 3;
}

.card h2, .card p {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card p {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 3px;
	text-align: center;
}

.card img {
	max-width: 100%;
	max-height: 100%;
}

.cardInfo, .cardInfoB {
	width: calc(100% - 40px);
	margin: auto;
	margin-bottom: 40px;
}

.cardInfo p {
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0,0,0,0.80);
}

.cardInfo h2 {
	color: #FFFFFF !important;
	text-shadow: 0 0 4px rgba(0,0,0,0.50);
	text-align: center;
}

#marketScanCard {
	background: url(../media/cards/MarketScan.jpeg) no-repeat;
	background-position: top center;
	background-size: cover;
}

#snapChatCloneCard {
	background: url(../media/cards/SnapchatClone.jpeg) no-repeat;
	background-position: top center;
	background-size: cover;
}

#saludUAQCard {
	background: url(../media/cards/saludUAQ.jpeg) no-repeat;
	background-position: top center;
	background-size: cover;
}

#agendAppCard {
	background: url(../media/cards/AgendApp.jpeg) no-repeat;
	background-position: top center;
	background-size: cover;
}

#CSSelioCard {
	background: url(../media/cards/csselio.jpeg) no-repeat;
	background-position: top center;
	background-size: cover;
}

.cardInfoB h2, .cardInfoB p {
	color: #202020 !important;
	box-shadow: none;
	text-align: center;
}





@media only screen and (min-width: 1024px) {
	#mainContent {
		width: 80%;
		margin-left: 10%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		overflow: auto;
	}

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,.08);
	}
}

@media only screen and (max-width: 1124px) {
	#mainContent {
		width: 100%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		overflow: auto;
	}

	.card:hover {
		transform: scale(1.01);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,.08);
	}
}

@media only screen and (max-width: 500px) {
	#mainContent {
			width: 100%;
			padding: 15px;
			margin: auto ;
			box-sizing: border-box;
			overflow-x: hidden;
	}
}
